# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/fetch/js/client/node_modules
/fetch/js/server/node_modules

/fetch/ts/client/node_modules
/fetch/ts/server/node_modules

/.pnp
.pnp.js

# testing
/coverage

# production
/build